{% extends "jefe.html" %}

{% load static %}

{% block contenido %}
<div align="center">
    <h1 style="text-align: center ;">Esta es mi familia</h1>
    <table class="redTable">
        <thead>
        <tr>
        <th>Nombre</th>
        <th>Número de la suerte</th>
        <th>Fecha de nacimiento</th>
        </tr>
        </thead>
        <!--<tfoot>
        <tr>
        <td colspan="3">
        <div class="links"><a href="#">&laquo;</a> <a class="active" href="#">1</a> <a href="#">2</a> <a href="#">3</a> <a href="#">4</a> <a href="#">&raquo;</a></div>
        </td>
        </tr>
        </tfoot>-->
        <tbody>
            <tbody>
                {%for x in familiar%} <!--Este ciclo for hace referencia a los elementos en el modelo familiar-->
                <tr>
                    <td>{{x.nombre}}</td>
                    <td>{{x.suerte}}</td>
                    <td>{{x.nacimiento}}</td>
                </tr>
                {% endfor %}
                <tbody>
        </tr>
    </table>    
    <!-- Bootstrap core JS-->
    <script href="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<!-- Core theme JS-->
</div>
{% endblock %}