{% extends "jefe.html" %}

{% load static %}

{% block contenido %}
<h2 align="center">¿Cómo imaginas otra ciudad?</h2>
<div class="otro">
    <form method="POST"> {% csrf_token %}
        <div class="pregunta">
            <input type="text" name="suenio" placeholder="¿Cómo sueñas la ciudad?">
            <input type="text" name="pseudonimo" placeholder="¿Cómo quieres ser nombrado?">
            <input type="text" name="fecha" placeholder="¿En qué fecha te gustaría estar?">
            <div>
                <button type="submit" class="centrado">Registrar sueño</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}