<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homie (Página principal, pues)</title>
</head>
<body>
<h1 style="text-align: center;">Homie, esta es tu casa</h1>
<div>
    <h2>Esta es mi familia</h2>
    <p>
        Así se ve aquella que, como diría Toreto, es lo más importante
        <br><br>
    *****insertar meme de Toreto*****
    <br><br>
    <!--<img src="/demo.jpg" alt="description" width="100" height="48" />-->
    *****insertar foto de la familia*****
    <br><br>
    <!--<img src="/demo.jpg" alt="description" width="100" height="48" />-->
    
    Bueno, pero no es toda, en esta foto también falta mamá, porque se separó de mi padre<br>
    afortunadamente, hace algunos años, y Meche (mi carnalita). Como vemos en la foto, de<br> 
    derecha a izquierda están:
    <br>
    Lalo (mi carnalito), Eduardo alias Chucho (el jefe) y Angelina (la jefa del jefe).
    <br><br>
    *****insertar foto de mamá*****
    <!--<img src="/demo.jpg" alt="description" width="100" height="48" />-->
    <br><br>
    Ella es Carmen, mi jefa.
    </p>
    </div>
<div>
    <h2>Este soy yo</h2>
    <p>
        Hola extraño, soy {{name}}, tengo {{age}} y soy {{zodiac}}.
        <br>
        ****insertar foto mía****s
        <!--<img src="/demo.jpg" alt="description" width="100" height="48" />-->
    </p>
</div>
</body>
</html>